.modal {
  align-items: center;
  background-color: rgba(lighten($dark, 10), 1);
  border-radius: 20px;
  box-shadow: 0px 0px 7px lighten($dark, 20);
  color: white;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 90%;
  max-height: 93%;
  position: fixed;
  bottom: 0;
  top: 40px;
  left: 0;
  right: 0;
  padding: 10px 20px;

  .close-modal{
    cursor: pointer;
    font-size: 32px;
    padding: 5px 15px;
    position: absolute;
    right : 5px;
    top: 0px;
    z-index: 2;
  }

  .carousel-root {
    height: 90%;
  }

  .carousel {
    height: 100%;
    .thumbs-wrapper{
      overflow: visible;
    }

    .control-dots {
      bottom: 60px;
    }
    .control-arrow{
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 1;
      height: 50%;
      margin-top: 140px;
    }
    .control-arrow:before {
      border-top: 32px solid transparent;
      border-bottom: 32px solid transparent;
    }
    .control-prev.control-arrow:before{
      border-right: 32px solid #fff;
    }
    .control-next.control-arrow:before {
      border-left: 32px solid #fff;
    }

    .thumbs {
      position: relative;
      bottom: 100px;
      .thumb {
        border: 3px solid #333;
      }
      .selected {
        border: 3px solid #fff;
      }
    }

  }
  .control-arrow {
    width: 75px;
  }

  .slide .modal__img {
      position: relative;
      max-height: calc(73vh - 20px);
      object-fit: contain;
      z-index: 2;
  }

  & .legend {
    position: relative;
    bottom: 80px;

    .legend__title{
      font-weight: 500;
    }
    .legend__tags p{
      font-weight: 400;
    }
  }

  &__links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 70px;

    & .btn_primary {
      margin: 10px 20px 0 20px;
      padding: 16px 0;
    }
  }
}
