.global__info{
    align-items: center;
    background-color: $dark;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & hr{
        border: 0;
        height: 1px;
        width: 80%;
        background-color: $white;
        margin-bottom: 30px;
    }

    & h3{
        color: $lightblue;
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    & .global__info__resume {
        color: rgb(211, 211, 211);
        text-align: left;
        width: 850px;
        line-height: 1.3;
        margin: 10px 0 20px 0;
        font-size: 16px
    }
}

.global__info__cards{
    display: flex;
    margin-bottom: 50px;
}

.global__info__btn {
    @include btn;
}