.intro {
  align-items: center;
  background-color: $dark;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 60px);

  & > h1 {
    font-size: 64px;
    margin-bottom: 40px;
  }

  & > h2 {
    color: $lightblue;
    font-size: 48px;
    margin-bottom: 40px;
  }
}

.icons {
  display: flex;
  flex-direction: row;
  margin: 30px 0;
  & a {
    display: flex;
    width: 64px;
    margin: 0 20px;
  }

  & svg{
    fill: $white;
    height: 64px;
    width: 64px;
  }

  & svg:hover {
    fill: $lightblue;
  }
}

.btn_primary {
  @include btn;
}

.intro__arrow svg{
  margin-top: 30px;
  fill: $white;
  height: 80px;
  width: 80px;
  transform: rotate(90deg);
}

.intro__arrow svg:hover{
  cursor: pointer;
  fill: $lightblue;
}
