.project__grid__card{
    align-items: center;
    background-color: lighten($dark, 10%);
    border-radius: 5px;
    display: flex;
    flex: 0 0 calc(33.33333% - 80px);
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    & img {
        border-radius: 5px;
        max-width: 100%;

        object-fit: cover;
    }
    &__title{
        font-size: 22px;
        font-weight: 600;
        padding: 10px 0;
    }
    &__tags{
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;

        & p{
            border-radius: 10px;
            font-size: 16px;
            margin: 0 10px;
            padding: 4px 15px;
        }
        .option{
            background-color: darken(#E65100, 5%);
        }
        .html{
            background-color: darken(#00aaff, 20%)
        }
        .langage{
            background-color: darkgoldenrod;
        }
        .framework{
            background-color: #2E7D32

        }
        .library{
            background-color: darken(darkorchid, 5%);
        }
    }
}